<h1>Categories</h1>
<a href="{% url 'category-add' %}">Add New Category</a>
<ul>
    {% for category in categories %}
        <li>
            <a href="{% url 'category-detail' pk=category.pk %}">{{ category.name }}</a>
            - <a href="{% url 'category-edit' pk=category.pk %}">Edit</a>
            - <a href="{% url 'category-delete' pk=category.pk %}">Delete</a>
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endif %}